<html>
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
      <h1>Hello , <%= @user.name %></h1>
      <p>
         To reset your password, just follow this link: 
         <%= @url %>.
      </p>
      
      <p>And, you can change your password and login using this email and new password.</p>
   </body>
</html>