<div class="row justify-content-center py-5">
    <div class="col-md-6">
        <% if flash[:notice] %>
            <div class="alert alert-warning alert-dismissible mb-3">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong><%= flash[:notice] %></strong>
            </div>
        <% end %>
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Sign Up</h3>
            </div>
            <div class="card-body">
                <form accept-charset="UTF-8" action="/register/create" method="post">
                    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" />
                    
                    <input type="hidden" name="role_id" value="2" class="form-control">
                    <div class="form-group">
                        <label for="">Name <span class="text-danger"><small><b>(*required)</b></small></span></label>
                        <input type="text" name="name" class="form-control">
                    </div>
                
                    <div class="form-group">
                        <label for="">Email <span class="text-danger"><small><b>(*required)</b></small></span></label>
                        <input type="email" name="email" class="form-control">
                    </div>
                
                    <div class="form-group">
                        <label for="">Password <span class="text-danger"><small><b>(*required)</b></small></span></label>
                        <input type="password" name="password" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="">Confirm Password <span class="text-danger">
													<small><b>(*required | Password Confirmation must be match with password)</b></small></span>
												</label>
                        <input type="password" name="confirm_password" class="form-control">
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Register" class="btn btn-primary btn-md btn-block">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
